@import './base.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

@media (min-width: 640px) {
  #app {
    padding: 1.5rem;
  }
}

@media (min-width: 768px) {
  #app {
    max-width: 720px;
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    max-width: 1280px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
